

.registerPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 98vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
