.profileContent,
.profileDialog {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileDialog {
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
}

.profileContent {
  align-items: flex-start;
}

