$darkerBg: #006e3a;
$brighterBg: #00783f;

.profileContent,
.profileDialog,
.addNewRetriever {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileDialog {
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
}

.profileContent {
  align-items: flex-start;
  margin-top: 20px;
}

.addNewRetrieverLink {
  &:hover {
    opacity: 0.7;
  }
}

.profileActions {
  display: flex;
  margin-top: 20px;
}

.profileActionButton {
  border: 1px solid transparent;
  color: $darkerBg;

  background-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    background-color: transparent;
    border: 1px solid transparent;
    background-color: darken($color: #00000007, $amount: 0);
  }
  &:active {
    background-color: transparent;
    border-color: $brighterBg;
  }
}
