@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContent {
  align-self: start;
}

.detailsSocialMedia {
  @include centralize;

  margin-top: 25px;

  a {
    text-decoration: none;
    color: black;
    font-family: 'Dosis';
    @include centralize;
  }

  i {
    color: green;
  }
}
