
$transparent: rgb(255, 255, 255);

.isTransparentColor {
  color: $transparent;
}

.isTransparentIcon {
  color: $transparent;
}

.buttonIcon {
  margin-left: 6px;
}

.basicButtonIcon{
margin-right: 6px;
}