
.header{
  display: flex;
  flex-direction: column; 

}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.retrieverAction{
  display: flex;
  margin-right: 50px;
  flex-direction: column;
}