
.header{
  display: flex;
  flex-direction: column; 
  margin: 40px 0;

}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addRetrieverAction{
  display: flex;
  justify-content: end;
  margin-right: 50px;
}