@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addRetriever {
  @include centralize;
  flex-direction: column;
  width: 40vw;

  i {
    font-size: 22px;
    margin-right: 10px;
  }
}

.addRetrieverForm {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.addRetrieverButton {
  @include centralize;
  margin-top: 40px;
}

.addRetrieverClose {
  width: 100%;
  display: flex;
  justify-content: end;
}

.addRetrieverCoordinates {
  display: flex;
}

.successMessage{
  margin-top: 20px;
}
