//TODO: import variables
@import './variables.scss';
@import './mixins.scss';

.actionForm {
  padding: 4rem;
  min-width: 22vw;
  @include centralizeColumn;
  background-size: cover;
  background-color: $primary;
  @include shadow;
}

.actionFormContent {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.actionFormMessage {
  @include centralizeColumn;
}

.buttonOverlay {
  @include centralize;
  margin: 30px 0;
}

.basicButtonOveraly {
  width: 100%;
  margin: 30px 0;
  @include centralize;
}


@media (max-width: 1375px) {
  .actionForm {
    width: 35vw;
  }
}


@media (max-width: 700px) {
  .actionForm {
    width: 85vw;
  }
}