@mixin centralizeColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.detailsModal,
.detailsModalContent,
.detailsModalForm,
.detailsClose {
  @include centralizeColumn;
}

.detailsModalForm {
  min-height: 45vh;
}

.detailsClose {
  align-items: end;
}

.detailsNameIcon {
  opacity: 0.9;
  font-size: 22px;
}



