.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ReactModal__Content {
  border-radius: 0;
  inset-block: auto !important;
  inset-inline: auto !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 1375px) {
  .ReactModal__Content {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .ReactModal__Content {
    width: 75%;
  }
}

@media (max-width: 650px) {
  .ReactModal__Content {
    width: 85%;
  }
}
