.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ReactModal__Content {
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 0;
  width: 40vw !important;
  padding-bottom: 40px !important;
  border: rgb(219 237 215 / 100%) !important;
  background: rgb(219 237 215 / 100%) !important;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(117, 117, 117, 0.26) !important;
  -moz-box-shadow: 2px 2px 10px 1px rgba(117, 117, 117, 0.26) !important;
  box-shadow: 2px 2px 10px 1px rgba(117, 117, 117, 0.26) !important;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(31, 128, 39, 0.37) !important;
}

@media (max-width: 1375px) {
  .ReactModal__Content {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .ReactModal__Content {
    width: 75%;
  }
}

@media (max-width: 650px) {
  .ReactModal__Content {
    width: 85%;
  }
}
