@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputIcon {
  @include centralize;
}

.inputWhole{
  display: flex;
  flex-direction: column;
}

.inputSize {
  display: flex;
  flex: 1;
}

.inputContainer {
  @include centralize;
  width: 100%;
}

