@mixin centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputIcon {
  @include centralize;
}

.inputWhole {
  display: flex;
  flex-direction: column;
}

.inputSize {
  display: flex;
  flex: 1;
}

.inputContainer {
  @include centralize;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #dbedd7 !important;
  -webkit-box-shadow: 0 0 0 1000px #dbedd7 inset !important;
}
