$inputColorPrimary: rgb(0, 122, 65);
$borderWidth: 1px;
$inputBorderPrimary: rgba(133, 133, 133, 0.897);
$inputBg: rgb(255, 255, 255);

.selectInput {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
}

.selectInputLabel {
  position: absolute;
  z-index: 55;
  top: -8px;
  left: 9px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 200;
  display: inline-block;
  letter-spacing: 1px;
  color: $inputBorderPrimary;
  background-color: $inputBg;
}

.react-select-container {
  width: 100%;

  .react-select-custom__menu {
    z-index: 5;
  }

  .react-select-custom__indicator svg {
    display: none;
  }

  .react-select-custom__option {
    background-color: $inputBg;
    padding: 14px;

    &:hover {
      background-color: rgba(13, 197, 111, 0.2);
    }
  }

  .react-select-custom__option--is-selected {
    background-color: $inputColorPrimary !important;
  }

  .react-select-custom__control {
    height: 100%;
    min-height: 40px;
    border: $borderWidth solid $inputBorderPrimary;
    box-shadow: none;
    outline: none;
    padding: 5px;
  }

  .react-select-custom__control--is-focused,
  .react-select-custom__control--is-active {
    &,
    &:hover {
      border: $borderWidth solid $inputColorPrimary;
    }
  }
}

.react-select-custom__control .react-select-custom__value-container {
  padding: 0;
  padding-left: 5px;
}

.react-select-custom__indicator-separator {
  display: none;
}

.react-select-custom__placeholder {
  font-size: 14px;
  line-height: 17px;
}

//scroll
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 122, 65, 0.486);
  border-radius: 10px;
}
